@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

#body{
    background-color: #f0f0f0;
}
nav{
    box-shadow: 0px 5px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: -5px;
    z-index: 1;
}

#carouselExampleIndicators{
    margin-bottom: 5%;
}

.slider {
    max-width: 1100px;
    display: flex;
}

.slider .card {
    flex: 1;
    margin: 0 10px;
    background: #fff;
}

.slider .card .img {
    height: 200px;
    width: 100%;
}

.slider .card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .card .content {
    padding: 10px 20px;
}

.card .content .title {
    font-size: 25px;
    font-weight: 600;
}

.card .content .sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}

.card .content p {
    text-align: justify;
    margin: 10px 0;
}

.card .content .btn {
    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn button {
    background: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn button:hover {
    transform: scale(0.9);
}

#item_title{
    font-size: clamp(12px, 5vw, 18px);
}

#item_desc{
    font-size: clamp(11px, 5vw, 12px);
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}


.footer {
  box-shadow: -3px 5px 10px;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}
  
.footer > * {
  flex:  1 100%;
}
  
.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}
  
.footer li {
  line-height: 2em;
}
  
.footer a {
  text-decoration: none;
}
  
.footer__nav {
  display: flex;
  flex-flow: row wrap;
  flex: 2 0px;
}
  
.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
  
.nav__ul a {
  color: #999;
}
  
.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}


#logo_footer{
  width: 100px; 
  height: auto;
  margin-bottom: 20px;
}
